@using Models
@model FeestViewModel
@{
    ViewData["Title"] = "Feest aanpassen";
}

<h1>Feestgegevens aanpassen of bekijken</h1>
<form>
    <div class="row">
        <div class="col-md-3">
            <h2>Algemeen</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Feest titel:</label>
                <input asp-for="FeestTitel" type="text" class="form-control" value="@Model.Feest.FeestTitel" />
            </div>
            <div class="form-group">
                <label>Aantal personen:</label>
                <input asp-for="AantalPersonen" type="number" class="form-control" value="@Model.Feest.AantalPersonen" />
            </div>
            <div class="form-group">
                <label>Capaciteit ratio:</label>
                @Model.AantalPerCapaciteit.AantalPersonen / @Model.AantalPerCapaciteit.Capaciteit
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Drank wensen:</label>
                <textarea asp-for="DrankWensen" id="drankTextbox" style="resize: vertical; min-height: 50px" class="form-control" maxlength="450" placeholder="Laat leeg als je geen wensen hebt en dus geen eten wilt...">@Model.Feest.DrankWensen</textarea>
            </div>
            <div class="form-group">
                <label>Eten wensen:</label>
                <textarea asp-for="EtenWensen" id="etenTextbox" style="resize: vertical; min-height: 50px" class="form-control" maxlength="450" placeholder="Laat leeg als je geen wensen hebt en dus geen eten wilt..."> @Model.Feest.EtenWensen </textarea>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Betaald door:</label> <br />
                <select class="form-control" asp-for="Betaling">
                    <option value="0">Organisatie</option>
                    <option value="1">Genodigden</option>
                </select>
            </div>
            <div class="form-group">
                <label>Entree:</label> <br />
                <select asp-for="Entree" class="form-control" onchange="showEntreePrijs()">
                    <option value="0">Nee</option>
                    <option value="1" id="WelEntree">Ja</option>
                </select>

                <label id="EntreePrijsLabel" hidden><br />EntreePrijs:</label>
                <br id="EntreePrijsBreak" hidden /><input class="form-control" id="EntreePrijs" asp-for="EntreePrijs" type="hidden" />
            </div>
            <div class="form-group">
                <label>Consumptie:</label> <br />
                <select class="form-control" asp-for="Consumptie" onchange="showConsumptiePrijs()">
                    <option value="0">All-In</option>
                    <option value="1" id="WelGeld">Contant geld</option>
                    <option value="2" id="WelBon">Consumptiebonnen</option>
                </select>

                <label id="ConsumptiePrijsLabel" hidden><br />EntreePrijs:</label>
                <br id="ConsumptiePrijsBreak" hidden /><input class="form-control" id="ConsumptiePrijs" asp-for="ConsumptieBonPrijs" type="hidden" />
            </div>
            <div class="form-group">
                <label>Versiering:</label> <br />
                <select asp-for="Versierd" class="form-control">
                    <option value="0">Nee</option>
                    <option value="1">Ja</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row-separator"></div>
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="FeestId" value="@Model.FeestId" />
            <h2>Datum & Tijd</h2>
            
            @if (@ViewData["InvalidDate"] != null)
            {
                <h4 class="alert alert-danger" role="alert">@ViewData["InvalidDate"]</h4>
            }
            <div class="form-group">
                <label>Begin datum:</label>
                <input asp-for="BeginDatum" type="datetime" class="form-control" value="@Model.Feest.BeginDatum"/>
            </div>
            <div class="form-group">
                <label>Eind datum:</label>
                <input asp-for="EindDatum" type="datetime" class="form-control" value="@Model.Feest.EindDatum"/>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Locatie</h1>
            @*//TODO Hier nog hetzelfde als bij aanmaken!!!*@
        </div>
    </div>
    <div class="row-separator"></div>
    <div class="row">
        <div class="col-md-8">
            <h2>Muziek</h2>
                <label>Kies muziekvoorziening:</label>
                <select class="form-control">
                    <option>Niks / Zelf meenemen</option>
                    <option>Spullen van de zaal lenen</option>
                    <option>Artiest boeken</option>
                </select>
                <br />
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <select class="form-control" size="@Model.Artiesten.Count">
                            @foreach (var artiest in Model.Artiesten)
                            {
                                <option value="@artiest.ArtiestId">@artiest.Naam @*//TODO Ander dingen of alleen naam laten?*@</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br />
                <table class="table table-striped">
                    <tr>
                        <th>Naam</th>
                        <th>Beschikbaarheid</th>
                        <th>Prijs</th>
                    </tr>
                    @foreach (var artiest in Model.Artiesten)
                    {
                        <tr>
                            <td>@artiest.Naam</td>
                            <td>@artiest.Beschikbaar</td>
                            <td>€@artiest.Prijs</td>
                        </tr>
                    }
                </table>
        </div>

    </div>
</form>