@using Models
@model FeestViewModel
@{
    ViewData["Title"] = "Locatie & Datum";
}

<form method="post">
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="FeestId" value="@Model.FeestId"/>
            <h1>Datum & Tijd</h1>
            
            <div class="alert-danger" role="alert">@ViewData["InvalidDate"]</div>
            <div class="form-group">
                <label>Begin datum:</label>
                <input asp-for="BeginDatum" type="datetime-local" class="form-control" />
            </div>
            <div class="form-group">
                <label>Eind datum:</label>
                <input asp-for="EindDatum" type="datetime-local" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <h1>Locatie</h1>
            <label>Kies een zaal:</label>
            <select asp-for="ZaalId" class="form-control"> @*TODO eventueel toevoegen momenteel dikke schijt --> size="Model.Zalen.Count"*@
                @foreach (var zaal in Model.Zalen)
                {
                    <option value="@zaal.ZaalId">@zaal.Naam @*//TODO Ander dingen of alleen naam laten?*@ <input hidden Name="ArtiestId" Value="@zaal.ZaalId" /></option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">

        <button style="float: right" type="submit">Maak aan!</button>

    </div>
</form>
