@model FeestViewModel
@{
    ViewData["Title"] = "Muziek";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Muziek</h1>
        <form method="post">
            <label>Kies muziekvoorziening:</label>
            <select asp-for="Muziek" class="form-control">
                <option value="0">Niks / Zelf meenemen</option>
                <option value="1">Spullen van de zaal lenen</option>
                <option value="2">Artiest boeken</option>
            </select>
            <br />
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <select asp-for="ArtiestId" class="form-control" size="@Model.Artiesten.Count">
                        @foreach (var artiest in Model.Artiesten)
                        {
                            <option value="@artiest.ArtiestId">@artiest.Naam ~ €@artiest.Prijs <input hidden Name="ArtiestId" Value="@artiest.ArtiestId"/> <input hidden Name="FeestId" Value="@Model.FeestId" /> </option>
                        }
                    </select>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br/>
            <table class="table table-striped">
                <tr>
                    <th>Naam</th>
                    <th>Beschikbaarheid</th>
                    <th>Prijs</th>
                </tr>
                @foreach (var artiest in Model.Artiesten)
                {
                    <tr>
                        <td>@artiest.Naam</td>
                        <td>@artiest.Beschikbaar</td>
                        <td>€@artiest.Prijs</td>
                    </tr>
                }
            </table>
            <button style="float: right" type="submit">Next</button>
        </form>
    </div>
    <div class="col-md-2">

    </div>
</div>